@import "~@angular/material/prebuilt-themes/indigo-pink.css"

body
  margin: 0
  padding: 0
  height: 100vh

.h-spacer
  flex: 1 1 auto

//
// Generic box with column layout
//
.flex-col
  display: flex
  flex-direction: column
  padding: 24px
  box-sizing: border-box

//
// Generic box with row layout
//
.flex-row
  display: flex
  flex-direction: row
  padding: 24px
  box-sizing: border-box

//
// Colors for project health
//
.health-l0
  color: #c62828    // Red 800

.health-l1
  color: #37474f    // Blue Gray 800

.health-l2
  color: #9e9d24    // Lime 800

.health-l3
  color: #4527a0    // Deep Purple 800

.health-l4
  color: #2979ff    // Blue A400

.health-l5
  color: #2e7d32    // Green 800

//
// Colors for project status
//
.status-never
  color: #ef9a9a    // Red 200

.status-ongoing
  color: #03a9f4    // Light Blue 500

.status-success
  color: #2e7d32    // Green 800

.status-failure
  color: #e53935    // Red 600

.status-abort
  color: #ff8f00    // Amber 800

.status-disabled
  color: #b0bec5    // Blue Gray 200
