<div
  [formGroup]="triggerForm"
  [spInert]="!edit">

  <mat-checkbox formControlName="user">User action</mat-checkbox>

  <mat-checkbox formControlName="schedule">Per schedule</mat-checkbox>

  <mat-form-field *ngIf="triggerForm.controls.schedule.value" class="sub-form">
    <input matInput placeholder="Schedule" formControlName="scheduleCron">
    <mat-hint>Use "cron" syntax</mat-hint>
  </mat-form-field>

  <mat-checkbox formControlName="hook">Trigger via web-hook</mat-checkbox>

  <mat-form-field *ngIf="triggerForm.controls.hook.value" class="sub-form">
    <input matInput placeholder="Authorization token" formControlName="hookToken">
    <mat-hint>Used to authenticate the build requests.</mat-hint>
  </mat-form-field>

  <mat-checkbox formControlName="after">After project(s)</mat-checkbox>

  <mat-form-field *ngIf="triggerForm.controls.after.value" class="sub-form">
    <input matInput placeholder="Projects" formControlName="afterProjects">
    <mat-hint>Comma separated list of projects</mat-hint>
  </mat-form-field>

  <mat-checkbox *ngIf="triggerForm.controls.after.value" class="sub-form"
    formControlName="afterFailure">Trigger on failure?</mat-checkbox>
</div>
