<form [formGroup]="credForm">
  <div formArrayName="credentials">
    <div *ngFor="let cred of credForms.controls; let i = index;">
      <div [formGroupName]="i" class="cred-item">
        <div class="cred-item-fields"
        (mouseover)="isHovered[i] = true"
        (mouseout)="isHovered[i] = false"
        [ngClass]="isHovered[i] ? 'mat-elevation-z4' : 'mat-elevation-z1'"
        >
          <mat-form-field>
            <input matInput formControlName="label">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let opt of TypeOpts" [value]="opt.value">
                {{opt.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Scope</mat-label>
            <mat-select formControlName="scope">
              <mat-option *ngFor="let opt of ScopeOpts" [value]="opt.value">
                {{opt.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="cred-item-actions" *ngIf="isEditing">
          <button mat-icon-button color="primary"
            (click)="delete(i)"
            [attr.aria-label]="'Delete item ' + i">
            <mat-icon class="mat-24" svgIcon="delete"></mat-icon>
        </button>
        </div>
      </div>
    </div>
  </div>

  <button *ngIf="isEditing" mat-stroked-button color="primary"
    aria-label="Add new credentials"
    (click)="add()">Add credentials</button>
</form>
