<ng-container *ngIf="status">
  <ng-container *ngIf="asIcon">
    <ng-container *ngIf="withTooltip; then yTooltip; else nTooltip"></ng-container>

    <ng-template #yTooltip>
      <mat-icon class="mat-24"
        [ngClass]="variant"
        [svgIcon]="icon"
        [matTooltip]="tooltip"
        matTooltipPosition="after"
        ></mat-icon>
    </ng-template>

    <ng-template #nTooltip>
      <mat-icon class="mat-24"
        [ngClass]="variant"
        [svgIcon]="icon"
        ></mat-icon>
    </ng-template>
  </ng-container>

  <span *ngIf="asText" [ngClass]="variant">{{label}}</span>
</ng-container>
